html{
    border-top: 17px solid #090909;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h2{
    color: #090909;
    font-size: 18px;
    background-image: url('../img/arrow.png');
    background-position: 0 7px;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 12px;
    border-bottom: 6px solid #090909;
    text-transform: uppercase;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.down-line{
    border-bottom: 1px solid #c0c0c0;
    padding: 20px 0 15px;
}

#logo{
    width: 183px;
    float: left;
}

#menu{
    width: 655px;
    float: right;
    position: relative;
}

#email{
    color: #999898;
    font-size: 12px;
    position: absolute;
    top: 0; 
    right: 0;
    text-decoration: none;
}

#menu_lista{
    list-style: none;
    margin: 45px 0 0 0;
    padding: 0;
}

#menu_lista li{
    float: left;
}

#menu_lista a{
    font-size: 11px;
    color: #fe9b00;
    font-weight: bold;
    text-transform: uppercase;
	text-decoration: none;
}

#menu_lista li + li{
    margin-left: 64px;
}

#information p{
    color: #5d5d5d;
    font-size: 12px;
    line-height: 20px;
}

#ourBenefits-blocks_lista{
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
    
}

.blocks{
    width: 280px;
    float: left;
}

.blocks + .blocks{
    margin-left: 60px;
}


